---
---
<div class="md:flex md:space-x-12 md:pl-8 pl-4 pt-16">
    <p class="font-dm-sans font-regular">SARA GRØNKJÆR</p>
    <p class="font-dm-sans font-regular">(DIGITAL DESIGN OPGAVE / MULTIMEDIEDESIGNER, KEA)</p>
</div>
  