---
---
<div class="md:flex md:space-x-12 pl-8 md:pl-12 pt-16 pb-12">
    <p class="font-dm-sans font-regular md:text-base text-sm">SARA GRØNKJÆR</p>
    <p class="font-dm-sans font-regular md:text-base text-sm">(DIGITAL DESIGN OPGAVE / MULTIMEDIEDESIGNER, KEA)</p>
</div>
  