---
---
<!--MENUPUNKTER -->
<div class="flex justify-end p-8 md:pr-16 pr-8">
    <nav class="flex md:space-x-12 space-x-8">
      <a href="#sektion-1" class="font-dm-sans font-regular">OM BASTRO</a>
      <a href="#sektion-2" class="font-dm-sans font-regular">PROCES</a>
    </nav>
  </div>
  
